<div class="container my-5">
  <div class="card" style="width: 50rem">
    <div class="card-body">
      <div class="category-container">
        <div class="row justify-content-center">
          <select class="form-control col-4" id="category" name="category" onchange="location = this.value;">
            <option value="/">全部</option>
            <option value="/filter/household" {{#ifEquals params 'household'}}selected{{/ifEquals}}>家居物業</option>
            <option value="/filter/transportation" {{#ifEquals params 'transportation'}}selected{{/ifEquals}}>交通出行
            </option>
            <option value="/filter/entertainment" {{#ifEquals params 'entertainment'}}selected{{/ifEquals}}>休閒娛樂
            </option>
            <option value="/filter/food" {{#ifEquals params 'food'}}selected{{/ifEquals}}>餐飲食品</option>
            <option value="/filter/others" {{#ifEquals params 'others'}}selected{{/ifEquals}}>其他</option>
          </select>
        </div>
      </div>
      <div class="body-container mt-3">
        <div class="row justify-content-center">
          <div>
            <h3 class="">總金額:</h3>
          </div>
          <div>
            <h3>{{totalAmount}}</h3>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            {{#each records}}
            <tr>
              <td>
                {{#ifEquals this.category 'household'}}<span class="fas fa-home fa-2x"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'transportation'}}<span class="fas fa-shuttle-van fa-2x"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'entertainment'}}<span class="fas fa-grin-beam fa-2x"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'food'}}<span class="fas fa-utensils fa-2x"
                  style="color:deepskyblue"></span>{{/ifEquals}}
                {{#ifEquals this.category 'others'}}<span class="fas fa-pen fa-2x"
                  style="color:deepskyblue"></span>{{/ifEquals}}
              </td>
              <td>{{this.name}}</td>
              <td>{{this.date}}</td>
              <td>${{this.amount}}</td>
              <td align="right">
                <a href="/records/{{this._id}}/edit" class="btn btn-info">edit</a>
                <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline"
                  onsubmit="return confirm('Press ok to confirm DELETE')">
                  <button class="btn btn-danger" type="submit">delete</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

        <div class=" row justify-content-center">
          <a class="btn btn-primary mt-3" href="./records/new">Create</a>
        </div>
      </div>
    </div>
  </div>
</div>